.players {
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 3rem 4rem 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}
.players--not-logged {
  grid-template-rows: 1fr 1.5fr;
}

.players__title {
  grid-column: 1 / span 2;
  margin-top: 0.5em;
}
