.nav {
  font-size: 50%;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
}

.game__buttons-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}

.game__buttons {
  margin: 0.3em;
  flex: 1;
  background-image: linear-gradient(to right top, #69a2eb, #69e3eb);
}

.game__buttons--double {
  background-image: unset;
  background-color: #f09f44;
}
