.players {
  display: flex;
  flex-direction: column;
  height: 16rem;

  margin: 2rem auto 1em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 3rem 4rem 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.players__title {
  grid-column: 1 / span 2;
  margin-top: 0.5em;
}
