.players {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 16rem;
  background-color: rgb(61, 61, 61);
  border-radius: 0.6rem;
  margin: 2rem auto 1em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 3rem 4rem 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.players__title {
  grid-column: 1 / span 2;
  margin-top: 0.5em;
}
